@import 'mobile';
@import 'desktop';

$bg-color: #d6caa9;
$bg-alt-color: #919098;
$team-color-blue: #4357ad;
$team-color-red: #c1666b;
$accent-color: #48a9a6;

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  background-color: $bg-color;
}

body > div {
  max-height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

/*


Global Styles


*/

button {
  border: 2px solid $accent-color;
  background-color: #fff;
  border-radius: 15px;
  height: 25px;
  outline: none;
  transition-duration: 0.2s;
}

button:disabled {
  border-color: #aaaaaa;
}

button:active {
  transform: scale(0.95);
  background-color: $accent-color;
}

button:focus {
  border-color: #aaa;
}

input[type='text']:focus {
  border-color: #aaa;
}

input[type='text'] {
  height: 25px;
  margin: 5px;
  border: 2px solid $accent-color;
  border-radius: 15px;
  padding: 5px;
  background-color: #fff;
  outline: none;
}

input[type='radio'] {
  outline: none;
}

input[type='radio']:focus::after {
  border-color: #aaa;
}

input[type='radio']::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: $bg-color;
  left: -1px;
  top: -1px;
  position: relative;
}

input[type='radio']::after {
  content: '';
  position: relative;
  display: block;
  border: 2px solid $accent-color;
  left: -2px;
  top: -17px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: inset 0 0 0px 6px #fff;
  background-color: $accent-color;
  transition-duration: 0.2s;
}

input[type='radio']:checked::after {
  background-color: $accent-color;
  box-shadow: inset 0 0 0px 2px #fff;
}

input[type='radio']:disabled::after {
  border-color: #fff;
  background-color: $team-color-red;
  box-shadow: none;
}

/*

Game Setup stuff

*/

.game-setup-container {
  text-align: center;
  transition-duration: 0.3s;
  margin: 0 0 0 250px;
  padding: 15px;
}

.join-game-setup {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-duration: 0.3s;
}

label {
  position: relative;
}

/* .join-game-setup > label::after {
  content: attr(data-sub);
  padding-left: 15px;
} */

input + span::after {
  content: attr(data-sub);
  padding-left: 15px;
  position: absolute;
}

input[type='text'].invalid {
  background-color: rgb(255, 87, 87);
}

/*

Game Board stuff

*/

.game-board {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  left: 265px;
  height: calc(100% * 2 / 3);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px;
}

.card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #e4dfda;
  color: #424242;
  font-family: sans-serif;
  font-size: calc((100vw - 280px) * 0.02);
  font-weight: 600;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 0.3s;
}

.card:not(.disabled):hover {
  box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.5),
    -3px 3px 5px rgba(100, 100, 100, 0.5);
  transform: scale(1.05);
}

.card[class*='team'] {
  cursor: default;
}

.card.disabled {
  cursor: default;
}

.card.team-red {
  color: $team-color-red;
}

.card.team-blue {
  color: $team-color-blue;
}

.card.team-neutral {
  color: #a0a0a0;
}

.card.team-assassin {
  color: #000;
}

.card.revealed-red {
  border: 5px solid $team-color-red;
}

.card.revealed-blue {
  border: 5px solid $team-color-blue;
}

.card.revealed-neutral {
  border: 5px solid #a0a0a0;
}

.card.revealed-assassin {
  border: 5px solid #000;
}

/*

Chat box stuff

*/

.chat-box {
  box-sizing: border-box;
  position: absolute;
  width: 250px;
  bottom: 15px;
  top: 15px;
  border-radius: 0 15px 15px 0;
  background-color: $bg-alt-color;
  padding: 10px;
  padding-bottom: 40px;
}

input[type='text'].message-box {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 10px);
  padding-right: 27.5px;
  height: 30px;
}

.chat-send-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 8;
  background: url('../images/icons/arrow.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid #aaa;
  transition-duration: 0.3s;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 50px;
  padding-top: 5px;
}

.chat-message {
  position: relative;
  width: fit-content;
  background-color: #ffcf75;
  color: #fff;
  font-family: sans-serif;
  left: 0;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.chat-local {
  align-self: flex-end;
  background-color: $accent-color;
}

.chat-author {
  position: absolute;
  left: 0;
  top: -15px;
  font-size: 10px;
  color: #424242;
}

.blue-text {
  color: $team-color-blue;
}

.red-text {
  color: $team-color-red;
}

/*

Game Status

*/

.game-status {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 15px;
  height: calc(100% * 1 / 3 - 70px);
  left: 275px;
  border-radius: 15px 0 0 15px;
  background-color: $bg-alt-color;
  transition-duration: 0.3s;
  transform: translateX(100%);
}

.game-status ul {
  list-style-position: inside;
}

.status-card > li.player-name:after {
  content: '(you)';
  margin-left: 5px;
  font-size: 0.5em;
  vertical-align: middle;
}

li.spymaster:after {
  content: '';
  position: absolute;
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  background-repeat: no-repeat;
}

li.spymaster.blue:after {
  background-image: url('../images/icons/spymaster-blue.svg');
}

li.spymaster.red:after {
  background-image: url('../images/icons/spymaster-red.svg');
}

li {
  list-style-type: none;
}

.status-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ddd;
  border-radius: 15px;
  margin: 10px 5px;
  padding: 0 15px;
  flex-grow: 1;
  /* overflow: scroll; */
}

.status-card:first-child {
  margin-left: 10px;
}

.status-card:last-child {
  margin-right: 10px;
}

.blue-player-list {
  color: $team-color-blue;
}

.red-player-list {
  color: $team-color-red;
}

.turn-view {
  border-radius: 5px;
  color: #fff;
  padding: 2px 5px;
}

.turn-display {
  margin: 5px 0;
}

.blue-bg {
  background-color: $team-color-blue;
}

.red-bg {
  background-color: $team-color-red;
}

.end-turn-btn {
  position: absolute;
  right: 10px;
  /* top: 10px; */
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  bottom: 10px;
  left: 10px;
  background-color: #ccc;
  border-radius: 10px;
  padding: 10px;
  vertical-align: middle;
  cursor: default;
  box-shadow: none;
  transition-duration: 0.3s;
}

.end-turn-btn.enabled {
  background-color: #e4dfda;
  cursor: pointer;
  box-shadow: 2px 2px 1px rgba(100, 100, 100, 0.5),
    -2px 2px 1px rgba(100, 100, 100, 0.5);
}

.end-turn-btn.enabled:hover {
  cursor: pointer;
  box-shadow: 4px 4px 5px rgba(100, 100, 100, 0.5),
    -4px 4px 5px rgba(100, 100, 100, 0.5);
}
